.thumbnail{
    width: 300px;
    
}
.search-box{
    display:block;
}
.video-title{
    width: 290px;
}
.video-author{

}
.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right:15px

}