.ega{
    display: grid;
    grid-template-columns: 200px 75px;
    column-gap: 10px;
}
.ega,.b,.c{
    margin-bottom: 20px;
    color: black;
}
.a1{
    background-color: pink;
}
.a2{
    background-color: blue;
}
.b{
    display: grid;
    grid-template-columns: 50px 1fr 75px; 
}
.b1,.b3{
    background-color: pink;
}
.b2{
    background-color: blue;
}
.c{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}
.c1{
    background-color: pink;
}
.pic1{
    width:120px;
    height:100px;
    object-fit: cover;
    object-position: top;
}
.a{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    height: 215px;
    width: 120px;
    vertical-align: top;
}
.name{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}   
.line2{
    display: grid;  
    grid-template-columns: 30px 100px;
    cursor: pointer;
    align-items: center;
}
.profile-pic{
   height: 20px;
   width: 20px;
   border-radius: 10px;
   margin-left: 5px;
}
.mutul{
    font-size: 10px;
    font-family: Roboto,Arial;
}
.add{
    width: 70px;
    height: 19px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 12px;
}
.d{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    column-gap: 20px;
}