.tsunade{
    width:100px;
    border-radius: 15px;
}
.tsunade1
{
    width:200px;
    height: 200px;
    object-fit:cover;
    object-position: center;
}
.tsunade2{
    width:200px;
    height: 200px;
    border-radius:150px ;
    object-fit: cover;
    object-position: top;
}
.box7{
    border-radius: 4px;
    margin-top: 40px;
}
.box8{
    border: none;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2) ;
    width: 400px;
    height: 28px;
    border-radius: 28px;
    padding-left: 12px;
    outline: none;
}
.box9{
    width: 350px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;

}
p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: arial;
}
.agree{
    color:gray;
    font-size: 10px;
}
.join{
    margin-top: 10px;
    color: white;
    background-color: rgb(0, 102, 255);
    border: none;
    border-radius: 18px;
    padding: 8px 90px;
}
.tsunade4{

    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    object-fit: cover;
    object-position: top;
    margin-right: 10px;
    margin-left: 20px;
    vertical-align:middle;
    
}
.tweet-button{
    background-color: rgb(22, 115, 237);
    color: white;
    border: none;
    padding: 5px;
    margin-left: 20px;
    vertical-align:bottom;
}
.tweet-text{
    display: inline-block;
    color: gray;
    margin-top:20px;
    vertical-align:middle;
}