<style>

    .str{
        background-color: green;
        font-size:18px;
        color:white;
        cursor:pointer;
        padding-top:10px;
        padding-bottom:10px;
        padding-right:12px;
        padding-left:12px;
        border:none;
        transition:padding 1s,margin 1s,width 1s;

    }
    .str:hover{
       padding-right:15px;
       padding-left: 15px;
       padding-bottom:15px;
       padding-top: 15px;
    }
    .back{
        margin-right: 5px;
        padding-left: 8px;
        padding-right: 8px;
        vertical-align: top;
    }
    .next{
        padding-left: 8px;
        padding-right: 8px;
        vertical-align: top;
        margin-right: 10px;
    }
    .numbers{
        margin-right:5px;
        vertical-align: top;
    }
    .shadow{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        cursor: pointer;
        background-color: green;
        color:white;
    }
    .shadow:active{
       margin-left: 3px;
       margin-top:3px

    }
    .one{
        background-color: rgb(1, 160, 1);
        color: white;
        margin-left: 8px;
        margin-right:8px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:5px;
        padding-bottom:5px;
        border: none;
        transition: padding 0.7s,margin 0.7s;
    }
    .one:hover{
        padding-left: 18px;
        padding-right: 18px;
        margin-left:0px;
        margin-right:0px;
    }
    .two{
        background-color: rgb(1, 160, 1);
        color: white;
        margin-left: 8px;
        margin-right:8px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:5px;
        padding-bottom:5px;
        border: none;
        transition: padding 0.7s,margin 0.7s;
        border: none;
    }
    .two:hover{
        
        padding-left: 18px;
        padding-right: 18px;
        margin-left: 0px;
        margin-right: 0px;

    }
    
    .three{
        background-color: rgb(1, 160, 1);
        color: white;
        margin-left: 8px;
        margin-right:8px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:5px;
        padding-bottom:5px;
        border: none;
        transition: padding 0.7s,margin 0.7s;
        border: none;
    }
    .three:hover{
        margin-left: 0px;
        margin-right:0px;
        padding-left: 18px;
        padding-right:18px;
    }
    
</style>